<%-include ('../includes/head', {pagetitle:'Admin Orders'})%>
<link rel="stylesheet" href="/css/order.css">
<script src="/js/order_admin.js" defer></script>
<script src="/js/prevent_submit.js" defer></script>
</head>
<body>
<%-include('../includes/header')%>
    <main>
        <h1>Your Orders</h1>
    <%if(orders.length<=0){ %>
        <h2>Orders have not being made yet.</h2>
    <%} else{ %>
        <%-include ('../includes/order_list',{orders}) %>
    <% } %>
    </main>
<%-include ('../includes/footer')%>  