<header>
    <nav>
        <div class="logo">
          <a href="/kongahub">  <img src="/logo/kh-new-logo.png" alt="Kongahub logo" class="logo"></a>
        </div>
        <!-- mobile view -->
        <div>
            <img src='/logo/list.png' alt="list button" class='menu'/>
        </div>    
    <div class="list">
        
       <%-include ('../includes/navbar_item')%>
    </div>
    <!-- the desktop view -->
    

    </nav>
    </header>
















