<footer class="hidden" id='contact'>
    <div class="img hidden" >
        
        <img src='/logo/second-kh-logo.png' alt=""class='logo_pic_footer' />
        </div>
        <div class="news">
            <form action="/kongahub/subscribe" method='post' onsubmit="return false" id="form">

                <h2>JOIN OUR NEWSLETTER</h2><br/>
                <p class='news_p'>Keep up on our always evoling product feature and get excelsive offers lastest news
                    and product announcement. Enter your e-mail and subscribe to our newsletter.</p>
                    <p><div id="newsletter_message"  style="color: green; margin-bottom: 10px;"></div></p>
                <input type="email" placeholder="Enter your Email" class="new_input" name="email">
                <button class="new_btn" data-csrf="<%=locals.csrfToken%>">Subscribe</button>
            </form>
    </div>
    <div class="hold">
  
    <div class="contact hidden">
        <h3><b class="c">Contact:</b> +2347064658911</h3>
        <h3><b class="c">Email:</b>Akereleolasun5@gmail.com</h3>
        <h3><b class="c">Address:</b>410 Melford Okulo Road, Yenizeue-gene, Yenagoa.</h3>
        <div class="social">
            <h3> <b class="c">Follow Us</b> </h3>
            <a href="http://t.me/Raystar03"><img src='/logo/telegram.png' alt=""/></a>
            <a href="http://wa.me/+2347064658911"><img src='/logo/icons8-whatsapp-30.png' alt=""/></a>
        </div>
        
    </div>        
    
</div>
<p class="hub2024 c"><a href="https://portfolio-eta-opal-54.vercel.app/" class='c'>@copyright <%=fullyear%>Kongahub.com</a></p>

</footer>



<script src="/js/navbar.js" defer></script>
<script src="/js/subscribe.js" defer></script>
</body>
</html>