<%-include ('../includes/head', {pagetitle:'Your Orders'})%>
<link rel="stylesheet" href="/css/order.css">
</head>
<body>
<%-include('../includes/header')%>
<main>
    <h1>Your Orders</h1>
    <%if(orders.length<=0){ %>
        <h2>Orders have not being made yet.</h2>
    <%} else{ %>
        <%-include ('../includes/order_list',{orders}) %>
    <% } %>
    
    
</main>
<%-include ('../includes/footer')%>