<%-include ('../includes/head',{pagetitle:'An error occurred'})%>
</head>
<body>
<%-include('../includes/header')%>
    <main>
    <div class="under_nav"><h1>NOT authenticated!!</h1>
    <p>You are not authenticated and therefore not allowed to access this page</p></div>
    </main>
<%-include ('../includes/footer')%>