<%-include ('../includes/head',{pagetitle:'An error occurred'})%>
</head>
<body>
    <%-include ('../includes/header')%>
    <main>
        <h1>404 <br> Page not found</h1>
        <p>Unfortunately, we weren't able to find this page'</p>
        <button id="btn_404"><a href="/">Home  page</a></button>
    </main>
<%-include ('../includes/footer')%>