<%-include ('../includes/head',{pagetitle:'An error occurred'})%>
</head>
<body>
    <%-include ('../includes/header')%>
    <main>
        <h1>500 <br> Error on the server</h1>
        <p>Unfortunately, something went wrong on the server '</p>
    </main>
<%-include ('../includes/footer')%>